@import url('https://fonts.cdnfonts.com/css/switzer');
@tailwind base;
@tailwind components;
@tailwind utilities;

root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  font-size: min(15px, 0.6944vw);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 2.66vw;
  }
}

body {
  margin: 0;
  font-family: 'Switzer', sans-serif;
  min-width: 320px;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.container {
  max-width: 89%;
  width: 100%;
  margin: 0 auto;
}

p {
  @apply text-[1.65rem] sm:text-[1.4rem];
}

.header_i {
  @apply text-[3rem] sm:text-[2.5rem] font-semibold;
}

.gateway_card_p {
  @apply text-[1.3rem] max-w-[12rem] text-[#414651] font-[400]
}

.gateway_card_p_value {
  @apply text-[2rem] text-[#000000] font-[600]
}